<h1>
  This one will be used to show all users and search them <br />
  forget this one <%= name %>
</h1>
<form action="/user/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
